<div class="row">
    <div class="col-md-6 text-center mt-auto mb-auto">
        <h1 class="md:mt-0 mt-5 font-extrabold md:text-7xl text-5xl uppercase text-primary animate__animated animate__backInDown " style="animation-delay: 1s;">
            Zekametre
        </h1>
        <p class="md:mt-5 mt-3 uppercase md:text-3xl text-2xl font-bold">
            zekana güveniyor musun ?
        </p>
        <button class="btn btn-primary hover:bg-gray-200 hover:text-black mt-2" (click)="getVerifyPage()">
            Teste Başla<i class="fas fa-chevron-right ml-2"></i>
        </button>
    </div>
    <div class="col-md-6 animate__animated animate__backInDown">
        <img src="/assets/banner.jpg" alt="">
    </div>
    
    
</div>