<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 60vh;" >
    <div class="content text-center" *ngIf="!userIdParams">
      <h1 class="text-6xl font-extrabold {{ status ? 'text-success' : 'text-danger' }}">
        {{ status ? 'Ödeme İşlemi Başarılı' : 'Ödeme Başarısız' }}
      </h1>
      <div class="errorMessage text-center mt-2" *ngIf="!status">
        <h2 class="text-danger font-medium text-xl">
          Hata: {{paymentResult.message}}
        </h2>
      </div>
    </div>
  
    <div *ngIf="status">
      <div class="result text-center">
        <div class="content mt-4">
          <h1 class="font-extrabold text-primary text-4xl">Sonuçlar</h1>
          <ul class="font-medium text-lg">
            <li class="text-danger" >ID: <span class="font-bold" >{{userId}}</span></li>
            <li>Puanınız: {{score}}</li>
            <li>{{scoreResult.status}}</li>
            <li>{{scoreResult.description}}</li>
          </ul>
        </div>
      </div>
      <div class="footer text-center mt-4" >
        <share-buttons [url]="shareUrl"></share-buttons>
        <button class="mt-3 btn btn-secondary border font-medium" (click)="buyCertificate()">
          <i class="fas fa-certificate mr-2"></i>Sertifika Almak İster Misin ?
        </button>
      </div>
    </div>
  </div>
  